.header {
    background-image: linear-gradient( #ffffff,#ff0000);
    width: 100%;
    height: 100px;
    border-bottom: #ff0000 solid;
}
/* 
SIDEBAR */

.SideBar {
    height: 0px;
    width: 15%;
    background-color: #ff0000;
    position: fixed;
    overflow-x: hidden;
    transition: .3s ease;
    float: left;
}

.SideBar a {
    display: block;
    padding: 10px;
    text-decoration: solid ;
    font-size: 30px;
    color: #ffffff;
}

.SideBar a:hover{
    color: #ff0000;
    background-color: #ffffff;
}

.IconOpen,.IconClose {
    font-size: 30px;
    cursor: wait;
    padding: 10px 15px;
    border: none;
    color: #ffffff;
    float: left;
}

.IconOpen{
    background-color:#ff0000;
    margin: 0 0 0 20px;
}

.IconClose{
    margin-left: 82%;
    text-decoration: none;
}

/* SIDEBAR */

.pageIcon{
    height: 85px;
    width: 85px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    margin-left: 150px;
}

.title{
    font-family: monospace;
    color: #ff0000;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin: 0 730px 0 0; 
    padding: 0px;
    border: 0px;
    float: right;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    margin: 0 auto 0 auto;
    max-width: 980px;
}

.showcase{
    width: 100%;
    height: 1000px;
    text-align: center;
    background-size: cover;
    background-color: #ff0000;
    margin: 0 auto;
}

































.footer{
    background-color: #ff0000;
    width: 100%;
    height: 200px;
    border-top: #ffffff 5px solid;
    margin-top: 200px;
    display: block;
    text-align: center;
}

.img_footer{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}


.footer .fed{
    font-size: 10px;
}

